<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-xl-8 mb-5 mb-xl-0">
     <div class="col-3 d-none col-md-3 d-md-block"></div>
     <form action="upload.php" method="post" enctype="multipart/form-data">
      Select image to upload:
      <input type="file" name="fileToUpload" id="fileToUpload">
      <input type="submit" value="Upload Image" name="submit">
    </form>
    
    <div class="col-3 d-none col-md-3 d-md-block"></div>
  </div>
</div>
